.breadcrum {
  color: var(--secondary-text-color);
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.breadcrum span:last-child {
  font-weight: bold;
}

.breadcrum svg {
  transform: translateY(0.2rem);
}
